MANU465/Lecutres
MANU465/Tutorial
*.ipynb_checkpoints
MANU465/Assignments/A2/Assignment2_colab

IGEN430/exploratory.py

Phys410/hw2/figuresForWriteup_extra/adaptiveRK4_phaseSpace.png

Phys410/hw2/figuresForWriteup_extra/adaptiveRK4_sho_err.pdf

Phys410/hw2/figuresForWriteup_extra/adaptiveRK4_vdp_pos.pdf

Phys410/hw2/figuresForWriteup_extra/sho_nonScaledErrors.pdf

Phys410/hw2/figuresForWriteup_extra/sho_scaledErrors.pdf

Phys410/hw2/figuresForWriteup_extra/vdp_phaseSpace.pdf

Phys410/hw2/figuresForWriteup_extra/vdp_phaseSpace.png

Phys410/hw2/figuresForWriteup_extra/vdp_Position.pdf

MANU465/EEG_GroupProject/CSV's/

*.asv
